@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(rgb(0, 140, 255), rgb(255, 140, 255));
  font-family: "Poppins", sans-serif;
  padding: 10px;
}

.container {
  width: 400px;
  background: white;
  padding: 20px;
  border: 2px solid black;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px 20px 5px;
}

.button {
  font-size: 20px;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.green {
  background: green;
}

.red {
  background: red;
}

.task {
  background: rgba(0, 0, 0, 0.1);
  margin: 5px;
  padding: 10px;
}

.taskName {
  font-weight: bold;
  font-size: 20px;
}

.taskDate {
  transform: translateY(-5px);
}

.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(300px, -40px);
  height: 20px;
  width: 20px;
  position: absolute;
  cursor: pointer;
}

.line1,
.line2 {
  position: absolute;
  background: red;
  height: 5px;
  width: 20px;
  cursor: pointer;
}

.line1 {
  transform: rotateZ(45deg);
}

.line2 {
  transform: rotateZ(-45deg);
}

.reminder {
  border-left: 3px solid green;
}

.noTasks {
  text-align: center;
  font-size: 20px;
}

.addTask,
.editTask {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.addTaskInput,
.editTaskInput {
  display: block;
  border: 2px solid black;
  width: 346px;
  padding: 5px 10px;
  font-size: 15px;
}

.addTaskLabel,
.editTaskLabel {
  transform: translateX(-155px);
  text-align: left;
}

.addTaskReminder,
.editTaskReminder {
  display: flex;
  transform: translateX(30px);
}

.reminderCheckbox {
  transform: translateX(-145px);
}

.saveTask {
  font-size: 20px;
  background: #222;
  padding: 5px 10px;
  cursor: pointer;
  width: 346px;
  color: white;
  margin-bottom: 10px;
  font-weight: 100;
  border-radius: 5px;
}
.cancel-button {
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  border-radius: 2.5px;;
  transform: translate(140px, -30px);
}

.footer {
  text-align: center;
}

.about {
  text-align: center;
}

.signInUsername {
  flex-direction: column;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.userButton {
  cursor: pointer;
  width: 50%;
  padding: 10px 2.5px;
  background: rgb(0, 140, 255);
  color:white;
  font-size: 20px;
  border-radius: 5px;;
}

.notSignedIn {
  margin-top: 20px;;
}

.addUserButton {
   cursor: pointer;
   color: white;
   background: green;
   font-size:17.5px;
   padding: 5px;
   border-radius: 5px;;
   width: 100px;
}

.addUser {
  text-align: center;
  padding: 15px;
}

.addUserName {
  display: block;
  text-align: left;
  font-size: 15px;
}

.addUserInput,.password {
  padding: 3.5px;
  width: 100%;
  font-size: 15px;
  display: block;
  border: 2px solid black;
}

.addUserCompleteButton {
  padding: 5px 15px;
  font-size: 20px;
  background: rgb(0,140,255);
  color: white;
  border-radius: 5px;
  width: 150px;
  margin-top: 15px;
}

.signOutButtons {
  display: flex;
  gap: 1%;
}

.signOutButton {
  font-size: 20px;
  width: 49.5%;
  background: #222;
  color: white;
  padding: 5px;
  border-radius: 2.5px;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.green {
  background: green;
}

.red {
  background: red;
}

.submitPassword {
  width: 100%;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  background: green;
  cursor: pointer;
  padding: 5px;
  margin-top: 10px;
}

.submitButton {
  width: 100%;
  background: #222;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.show {
  width: 82.5%;
  display: inline;
}

.showButton {
  display: inline-block;
  width: 17.5%;
  text-align: center;
  border: 2px solid black;
  cursor: pointer;
}

.showButton:hover {
  background: rgba(0, 0, 0, 0.1);
}

.wide {
  width: 100%;
}

.forgotPassword {
  text-align: right;
  color: blue;
  font-style: italic;
  cursor: pointer;
}

.back {
  position: absolute;
  transform: translateX(825%);
  cursor: pointer;
}

.backTriangle {
  transform: translate(-120%,-14%);
  font-size: 22.5px;
  position: absolute;
}

.addingUser {
  transform: translateX(750%);
}

.loader-3 {
	height: 32px;
	width: 105px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

.loadingBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pulse {
  position: relative;
  height: 27.5px;
  width: 27.5px;
  border-radius: 50%;
  background: rgb(0,140,255);
  animation: loader-3-pulse 1s infinite ease-in-out;
  top: 0;
}

.pulse:nth-child(2) {
  animation-delay: 0.16s;
}

.pulse:nth-child(3) {
  animation-delay: 0.32s;
}

@keyframes loader-3-pulse {
	0%,
	80%,
	100% {
		transform: scale(0);
	}
	40% {
		transform: scale(1);
	}
}

.incorrectUsername p {
  color: red;
  display: inline;
}

.incorrectUsername p::before {
  content: "";
  height: 10px;
  width: 10px;
  background: red;
}
